#first-header {
  margin: auto;
  text-align: center;
  height: 500px;
  width: 100%;
  position: relative;
  top: 0px;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

@media only screen and (min-width: 768px) {
  body {
    display: flex; 

  }
  .fixed-top{
    visibility: visible;
  }
  #first-header {
    float: top;
    margin: 0;
    width: 80%;
  }
  #user-pic {
    padding: 15px;
  }
  #compose-tweet {
    visibility: hidden;
  }
}

#user-pic{
  position: relative;
  top: 112px;
}

#my-name {
  top: 70px;
}

.new-tweet {
  top: -60px;
}

h2 {
  position: relative;
  top: 0px;
  text-align: center;
  font-family: 'Source Sans Pro', cursive;
  color: #FFFFFF;
}

header.first-header img {
  position: relative;
}