#first-header {
  margin: auto;
  text-align: center;
  height: 500px;
  width: 100%;
  position: relative;
  top: 0px;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex; 

  }
  .fixed-top{
    visibility: visible;
    position:fixed;
    top: 0;
    right:0;
    left: 0;
    z-index: 1030;
  }
  
  #first-header {
    float: top;
    margin: 0;
    width: 30%;
  }
  #user-pic {
    padding: 15px;
    width: 100%; 
    height: 100%; 
    object-fit: contain; 

  }
  #compose-tweet {
    visibility: hidden;
  }
}

#user-pic{
  position: relative;
  top: 112px;
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

#my-name {
  top: -150px;
}

.new-tweet {
  top: -60px;
}

h2 {
  position: relative;
  top: 0px;
  text-align: center;
  font-family: 'Source Sans Pro', cursive;
  color: #FFFFFF;
}
