nav {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .fixed-top{
    z-index: -1;
    visibility: visible;

  }
}


span {
  font-family: 'Bungee', cursive;
  visibility: visible;
}

#slide {
  visibility: visible;
}



a {
  font-family: 'Source Sans Pro', cursive;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  position: fixed;
  right: 40px;
}

.navbar {
  padding: 1.5em;
}

.fixed-top {
  position:fixed;
  top: 0;
  right:0;
  left: 0;
  z-index: 1030;
}

.bg-dark {
  background-color: #4056A1
}

#slide:hover {
  color: #545149;
}