.counter {
  position: relative;
  float: right;
}

.container {
  position: relative;
  top: 100px;
  width: 86%;
  margin: 0 auto;
}

textarea {
  position: relative;
  justify-content: space-around;
  outline: none;
  display: flex;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid;
  width: 100%;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
}

#textbox {

}

.new-tweet {
  /* padding: 0 */
  color: #545149;
  z-index: -1;
}

input {
  font-family: 'Bungee', cursive;
  position: relative;
  float: left;
  background-color: #4056A1
}
[value|='Tweet'] { color: #FFFFFF; }
[placeholder|='What are you humming about?'] {font-size: 18px;}


